@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    .fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    }
    a{text-decoration:none; color:black;}
    
    .dtp div.dtp-date, .dtp div.dtp-time {
        background:#000;
        color:#fff;
    }
    
    select:focus {
        outline-color: #ec268f;
        /*outline: none;*/
    }
    textarea:focus {
        outline-color: #ec268f;
        /*outline: none;*/
    }